/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* reset som nollställer alla default värden så att det blir lika i varje webbläsare. */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*prefix, en del properties är inte standars i alla webbläsare, då får man använda prefix för att sätta dem som standard*/

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

/*--------------------------------------------------------------------*/


/* Gul; F1C929
  Grå: F5F5F5
  Rosa: B4928F
	Grön: 244005

  p: font-family: 'Hind Vadodara', sans-serif;
  h1: font-family: 'Economica', sans-serif;

*/

p {
  color: #244005;
	font-family: 'Cairo', sans-serif;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
	line-height: 20px;
}

h1 {
  color: #244005;
	font-family: 'Anton', sans-serif;
  font-size: 36px;
  font-weight: 200px;
  text-align: center;
}

a {
  color: #244005;
	font-family: 'Cairo', sans-serif;
  font-size: 20px;
  font-weight: 200px;
  text-align: center;
}

img {
  width: 100%;
}


/*--------Menu mobile------------------------------------------------------------*/

/*Dropdown menu*/

.menuMobile {
	background-color: #DCBC3F;
	width: 100%;
	height: 75px;
}

.containerMenu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.asos {
  color: #000000;
	font-family: 'Anton', sans-serif;
  font-size: 36px;
  font-weight: 200px;
  text-align: center;
}

/*Burgarmenunloggan/knappen*/
.burgerMenu {
  background-color: #DCBC3F;
  width: 70px;
  height: 70px;
	padding: 8px 8px 8px 8px;
}

.logo {
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: flex-start;
	padding: 8px 8px 8px 8px;
}

/*Stylingen av dropdown boxen i sig*/
.dropdownContent {
  background-color: #DCBC3F;
  display: none;
  position: absolute;
	width: 100%;
	margin-top: -5px;
  overflow: auto;
  z-index: 1;
}

/*Varje item i lisan i dropdown menyn*/
.dropdownContent a {
  color: #244005;
	font-family: 'Anton', sans-serif;
  padding: 45px 20px;
  font-size: 45px;
  text-decoration: none;
  display: block;
}

/*När menyval hovras över syns denna färg*/
.dropdown a:hover {
  background-color: #ffffff;
  color: #000000;
}

/*Denna funktion gör så att dropdownmenyn visas*/
.show {
	display:block;
}

/*När menyval är iklickat syns denna färg*/
.active {
	color: #ffffff !important;
}

/*---------Index mobile-----------------------------------------------------------*/

/*index*/

.indexPage {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}


.menu {
	width: 260px;
}
.uxDesign {
  margin-top: 70px;
}

.indexPortfolio {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}


.indexAbout p {
	padding: 30px 0px 30px 0px;

}

.indexAbout h1 {
	padding: 0px 0px 0px 0px;
}

.indexContact {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

.contactMail {
	width: 30%;
}

.contactLinkedin {
	width: 30%;
}

.contactPhone {
	width: 30%;
}

.indexPicture {
  margin-top: 30px;
	margin-bottom: 50px;
}

.indexIllustrations {
	margin-top: 30px;
}

.indexProject {
	margin-top: 50px;
}


a:link {
  text-decoration: none;
}



/*--------Picture mobile------------------------------------------------------------*/

.pagePictures {
	width: 100%;
	margin: 0 auto;
}

.pictures {
	margin: 0 auto;
	width: 80%;
	margin-top: -200px;
}


/*Pictures*/
.containerPictures {
	margin: 1em auto 0;
}

/*Container mittenbilden 1*/
.containerPicturesRow {
	display: flex;
}

.containerPicturesRowOne {
	padding-right: 1em;
}

.containerPicturesSingle {
	margin-bottom: 10px;
}

/*None mobile*/


.pictureTell {
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 80%;
}

/*None mobile*/



.menu {
	display: none;
}

.picturesLogo {
	display: none;
}



/*--------Illustrations mobile------------------------------------------------------------*/

/*Rubrikbild illustrationer*/

.illustrationsLogo {
	display: none;
}

.illustrationsContainer {
	margin-bottom: 30px;
}
/*Illustrationer*/
.containerIllustrations{
	width: 100%;
	margin: 0 auto;
  margin-bottom: 60px;
	margin-top: -1px;
}

.illustrationsBig {
		display: none;
}


.containerIllustrationsArt {
	margin: 0 auto;
	width: 85%;
	margin-top: 60px;
	margin-bottom: 30px;
}

/*------Project Mobile--------------------------------------------------------------*/

.pageProjects {
	width: 100%;
	margin: 0 auto;
}


.containerProject {
	background-image: url(backgroundIndex.svg);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 740px;
	width: 100%;
}

.containerProjectFlip {
	background-image: url(backgroundIndexFlip.svg);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 740px;
	width: 100%;
}

.containerProjectLogo {
	background-image: url(backgroundProjects.svg);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 740px;
	width: 100%;
}




.containerText {
	width: 70%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.containerTextLogo {
	width: 70%;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 50px;
}


.pageProjects p {
	font-size: 18px;
	line-height: 22px;
	margin-top: 20px;
}

.pageProjects h1 {
	font-size: 25px;
	margin-top: 150px;
}

.pageProjects a {
	font-size: 25px;
	margin-top: 25px;
	color: #244005;
}



.flip {
	flex-direction: column;
}

.pictureTarot img {
	margin-top: 40px;
	width: 70%;
}

.pictureASOS img {
	margin-top: 70px;
	width: 80%;
}

.pictureForm img {
	margin-top: 40px;
	width: 50%;
}

.pictureCafeKoya img {
	margin-top: 100px;
	width: 100%;
}

.pictureAttention {
	margin: 0 auto;
	width: 85%;
	margin-top: 20px;
	margin-bottom: 30px;
}

.projectsLogo {
	display: none;
}


/*---------Menu Ipad-----------------------------------------------------------*/

 		@media (min-width: 760px) {

			.menu {
				margin: 0 auto;
				margin-top: 180px;
				width: 70%;
				display: flex;
				justify-content: space-between;
				font-family: 'Cairo', sans-serif;
				margin-bottom: 50px;
			}

			.menu a {
				color: #000000;
			}

			.menu a:hover {
				color: #DCBC3F;
			}

			.menu a:active {
				color: #DCBC3F;
			}

			.containerProject {
				background-image: url(backgroundIndex.svg);
				background-repeat: no-repeat;
				background-position: right top;
				background-size: contain;
				display: flex;
				flex-direction: column;
				align-items: center;
				height: 900px;
				width: 100%;
			}

			.containerProjectFlip {
				background-image: url(backgroundIndexFlip.svg);
				background-repeat: no-repeat;
				background-position: right top;
				background-size: contain;
				display: flex;
				flex-direction: column;
				align-items: center;
				height: 900px;
				width: 100%;
			}

			.containerProjectLogo {
				background-image: url(backgroundIndex.svg);
				background-repeat: no-repeat;
				background-position: right top;
				background-size: contain;
				display: flex;
				flex-direction: column;
				align-items: center;
				height: 900px;
				width: 100%;
				margin-top: 100px;
			}

	/*---------Index Ipad-----------------------------------------------------------*/

			.indexPage {
				width: 70%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-bottom: 150px;
			}

			.indexPortfolio {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-top: 80px;
			}

			.pictureBig {
				display: flex;
				width: 55%;
				height: 55%;
			}

			.indexAbout {
				width: 40%;
				margin-top: -10px;
			}

			.indexAbout h1{
				margin-top: 10px;
				background-color: #ffffff;
				text-align: left;
				font-size: 35px;
				padding: 0px 0px 12px 0px;
			}

			.indexAbout p {
				font-size: 12px;
				background-color: #ffffff;
				line-height: 14px;
				text-align: left;
				padding: 0px 0px 0px 0px;

			}

			.indexContact img {
				width: 65px;
				margin-top: -15px;
			}

			/*None desktop*/

			.pictureSmall {
				display: none;
			}

			.menuMobile {
				display: none;
			}

			.indexPicture {
				width: 100%;
				margin-top: 70px;
				margin-bottom: 0px;
			}

			.indexIllustrations {
				width: 100%;
				margin-top: 70px;
			}

			.indexProject {
				width: 100%;
				margin-top: 70px;
			}




			/*--------------Pictures Ipad--------------------------------------------------*/

			.pagePictures {
				width: 70%;
				margin: 0 auto;
				margin-bottom: 150px;
			}

			.picturesLogo {
				margin: 0 auto;
				display: block;
				margin-bottom: 50px;
			}

			.pictures {
				width: 70%;
				margin-top: 100px;
				margin-bottom: 60px;
			}
			.containerPicturesStory {
				margin-top: 50px;
			}

			.containerPicturesSingle {
				margin-bottom: 50px;
			}

			.backgrondPictures {
				display: none;
			}


			/*Pictures*/
			.containerPictures {
				margin: 2em auto 0;
			}

			.containerPicturesRowOne {
				padding-right: 2em;
			}

			.containerPicturesSingle {
				margin-bottom: 0px;
			}

			.pictureTell {
				width: 70%;
				margin-top: 100px;
				margin-bottom: 100px;
			}

		/*--------------Illustrations Ipad--------------------------------------------------*/

			.pageIllustrations {
				width: 70%;
				margin: 0 auto;
				margin-bottom: 150px;
				margin-top: 50px;
			}

			.containerIllustrations {
				width: 100%;
				margin-bottom: 100px;
			}

			.containerIllustrationsArt {
				width: 100%;
				margin-top: 100px;
			}

			.illustrationsContainer {
				margin-bottom: 80px;
			}

			.illustrations {
				display: none;
			}

			.illustrationsLogo {
				display: block;
			}

			.illustrationsBig {
				display: block;
			}

			/*--------------Projects Ipad--------------------------------------------------*/

			.pageProjects {
				width: 70%;
				margin: 0 auto;
				margin-bottom: 150px;
			}

			.pictureNothing {
				margin-top: 100px;
			}

			.containerPicturesStory {
				margin-bottom: 100px;
			}

			.containerProject {
				margin-top: 100px;

			}

			.containerProject img {
				width: 100%;
				margin-top: 0px;
			}



			.containerText {
				width: 40%;
				margin-bottom: 0px;
			}

			.containerText h1 {
				font-size: 40px;
			}

			.containerProject p {
				font-size: 18px;
				line-height: 22px;
				margin-top: 10px;
			}


			.containerText a {
				font-size: 14px;
				margin-top: 10px;
				font-size: 30px;
				margin-top: 15px;
			}


			.pictureAttention a {
				display: block;
				margin-top: 100px;
			}

		}


		/*--------------Adjust 820px--------------------------------------------------*/
	 	@media (min-width: 820px) {
			.indexAbout p {
				font-size: 14px;
				line-height: 18px;
				margin-bottom: 20px;
			}

			.containerProject {
				margin-top: 70px;
			}





		/*--------------Adjust 912px--------------------------------------------------*/

		@media (min-width: 912px) {
			.indexAbout p {
				font-size: 16px;
				line-height: 18px;
				margin-bottom: 20px;
			}

			.containerProject {
				margin-top: 80px;
			}

			.containerPink {
				height: 450px;
			}

			.containerYellow {
				height: 450px;
			}

			.containerGrey {
				height: 450px;
			}

		}

		/*--------------Adjust 970px--------------------------------------------------*/

			@media (min-width: 970px) {

				.containerText h1 {
					font-size: 45px;
				}

				.containerProject p {
					font-size: 20px;
					line-height: 28px;
					margin-top: 15px;
				}


				.containerText a {
					font-size: 14px;
					margin-top: 10px;
					font-size: 35px;
					margin-top: 20px;
				}

				.containerProject {
					margin-top: 90px;
				}


				.containerPink {
					height: 500px;
				}

				.containerYellow {
					height: 500px;
				}

				.containerGrey {
					height: 500px;
				}

		}

		/*--------------Adjust 1000px--------------------------------------------------*/

		@media (min-width: 1000px) {
			.indexAbout p {
				font-size: 16px;
				line-height: 18px;
				margin-bottom: 20px;
			}

			.containerProject {
				margin-top: 100px;
			}

		}

			/*Desktop*/
			@media (min-width: 1050px) {
				.indexAbout p {
					font-size: 16px;
					line-height: 18px;
					margin-bottom: 20px;
				}

		}

		/*Desktop*/
		@media (min-width: 1100px) {
			.indexAbout p {
				font-size: 20px;
				line-height: 22px;
				margin-bottom: 20px;
			}

	}

		/*--------------Index Desktop--------------------------------------------------*/
	 	@media (min-width: 1200px) {

			.indexAbout h1{
				margin-top: 25px;
				font-size: 45px;
				padding: 0px 0px 30px 0px;
			}

			.indexAbout p {
				font-size: 21px;
				line-height: 28px;
			}

			.indexContact {
				margin-top: 85px;
			}

			.indexContact img {
				width: 110px;
			}

			.contactMail :hover {
				background-color: #DCBC3F;
				margin-bottom: -10px;
			}

			.contactMail a:hover {
				background-color: transparent;
			}

			.contactLinkedin :hover {
				background-color: #DCBC3F;
				margin-bottom: -10px;
			}

			.contactLinkedin a:hover {
				background-color: transparent;
			}

			.contactPhone a:hover {
				background-color: transparent;
			}

			.contactPhone :hover {
				background-color: #DCBC3F;
				margin-bottom: -10px;
			}

			.indexPicture {
				width: 100%;
				margin-top: 80px;
			}


			.indexIllustrations {
				margin-top: 80px;
			}


			.indexProject {
				margin-top: 100px;
			}

			.indexProject img:hover{
				border: 10px solid #000000;
			}

			.indexPicture img {
				border: 10px solid transparent;
			}
			.indexPicture img:hover{
				border: 10px solid #000000;
			}

			.indexProject img {
				border: 10px solid transparent;
			}


			/*--------------Pictures Desktop--------------------------------------------------*/



			/*--------------Illustrations Desktop--------------------------------------------------*/



			.containerIllustrationsArt {
				margin-bottom: 150px;
			}
			.illustrationsLogo {
				display: block;
			}

			.indexIllustrations img:hover{
				border: 10px solid #000000;
			}

			.indexIllustrations img {
				border: 10px solid transparent;
			}

			.illustrationsBig {
					display: block;
			}




			/*--------------Projects Desktop--------------------------------------------------*/


			.containerProject {
				background-image: url(backgroundProject.svg);
				background-repeat: no-repeat;
				background-position: right top;
				background-size: contain;
				display: flex;
				flex-direction: column;
				align-items: center;
				height: 900px;
				width: 100%;
				display: flex;
				flex-direction: row-reverse;
				justify-content: space-around;
				align-items: center;
			}

			.containerProjectFlip {
				background-image: url(backgroundProjectFlip.svg);
				background-repeat: no-repeat;
				background-position: right top;
				background-size: contain;
				display: flex;
				flex-direction: column;
				align-items: center;
				height: 900px;
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
			}

			.containerProjectLogo {
				background-image: url(backgroundProject.svg);
				background-repeat: no-repeat;
				background-position: right top;
				background-size: contain;
				display: flex;
				flex-direction: column;
				align-items: center;
				height: 900px;
				width: 100%;
				display: flex;
				flex-direction: row-reverse;
				justify-content: space-around;
				align-items: center;
			}



			.containerProject img {
				width: 80%;
			}

			.containerText h1 {
				font-size: 60px;
			}

			.containerTextLogo {
				width: 20%;
			}

			.pageProjects p {
				font-size: 25px;
				line-height: 40px;
				margin-top: 20px;
			}

			.pageProjects h1 {
				font-size: 60px;
			}


			.pageProjects a {
				font-size: 14px;
				margin-top: 10px;
				font-size: 45px;
				margin-top: 30px;
				color: #000000;
			}


			.pictureAttention {
				margin-top: 100px;
			}
			.pictureTarot img {
				margin-top: 40px;
				width: 70%;
			}

			.pictureASOS img {
				margin-top: 70px;
				width: 80%;
			}

			.pictureForm img {
				margin-top: 70px;
				width: 30%;
			}

			.pictureUltrafree img {
				margin-top: 70px;
				width: 80%;
			}

			.pictureCafeKoya img {
				margin-top: 70px;
				width: 100%;
			}

	}
