/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
 */

/* reset som nollställer alla default värden så att det blir lika i varje webbläsare. */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*prefix, en del properties är inte standars i alla webbläsare, då får man använda prefix för att sätta dem som standard*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* SLUT PÅ RESET */

/* font-size to 16px (1rem is now 16px) */
html,
body {
  font-size: 16px;
}

/*
COLORS AND FONTS
Black: 4A4A4A
Gul; DCBC3F
Grå: F5F5F5
Ljusgrå F2F2F2
Rosa: B4928F
Grön: 244005
Ljusgrön: 839912
Lila: 503448
Ljuslila: BCB6BE

p: font-family: 'Helvetica', sans-serif;
h1: font-family: 'Anton', sans-serif;
a: font-family: 'Arial', sans-serif;
 */

/* headings general font style and color */
h1,
h2 {
  /*font-family: "Impact", sans-serif*/
  /*font-family: 'Helvetica', sans-serif;*/
  font-family: 'Barlow Condensed', sans-serif;
  line-height: 1;
  color: #4A4A4A;
  font-weight: 300;
}

h1 {
  font-size: 3rem;
  color: #F2F2F2;
}
h2 {
  font-size: 1.75rem;
}

a {text-decoration: none;}

/* links and paragraphs general font style and color */
a, p, h3 {
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
/*  font-family: 'Encode Sans Condensed', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;*/
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: #4A4A4A;
}

h3 {
  font-weight: bold;
}

.home a {
  font-weight: bold;
}

h4 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 200;
  font-size: 3rem;
  line-height: 5rem;
  color: #4A4A4A;
  font-weight: bold;
}

.tarotAppen {
  color: #DCBC3F;
}

.home img {
    margin-bottom: 20px;
}

.copy img {
  margin-bottom: 0px;
}
.home p {
  margin-top: 10px;
  text-align: left;
}

.image-uxdesign {
  display: none;
}

.image-uxdesign-small {
  padding: 6rem 3rem 3rem 3rem;
  text-align: center;

}

.burgerMenu {
  outline: none;
}

.fixed {
  position: fixed;
}

.image-hover {
  overflow: hidden;
}

.image-hover img {
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: scale(1);
  will-change: transform;
}

.phoneUL {
  display: none;
}

.mobileSpace {
  margin-top: 50px;
}

@media (hover) {
  .image-hover:hover img {
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: scale(1.05);
  }
}

.videoStyle video {
  display: none;
}



.indexText p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.compensation{
  display: none;
}


.desktopMov {
  display: none;
}

.desktopTarot {
  display: none;
}

.illustrationsPic {
  display: none;
}

/*--------------------------------------------------------------------*/



/* GRID */

/* This grid has 2 columns on mobile, 6 on tablet and 12 on desktop.
 * The area outside the grid spanning to the edge of the viewport is
 * also considered css grid columns, so that edge-to-edge spanning is possible. */
.row {
  display: grid;
  width: 100%;
  /* 0 | 1fr | 1fr | 0 */
  grid-template-columns: [page-start] 0 [grid-start] minmax(0, 1fr) [middle] minmax(0, 1fr) [grid-end] 0 [page-end];
  grid-column: page-start / page-end;
  grid-column-gap: 1.5rem; /* "|" gutters are 1.5rem */
}

/* GRID TABLET */
@media (min-width: 30rem) {
  .row {
    /* 0 | 1fr | 1fr | 1fr | 1fr | 1fr | 1fr | 0 */
    grid-template-columns: [page-start] 0 [grid-start] repeat(3, minmax(0, 1fr)) [middle] repeat(3, minmax(0, 1fr)) [grid-end] 0 [page-end];
    grid-column: page-start / page-end;

  }

}

/* GRID DESKTOP */
@media (min-width: 60rem) {
  .row {
    /* 0-1fr | fluid-4rem | fluid-4rem | fluid-4rem | fluid-4rem | fluid-4rem | fluid-4rem | fluid-4rem | fluid-4rem | fluid-4rem | fluid-4rem | fluid-4rem | fluid-4rem | 0-1fr */
    grid-template-columns: [page-start] minmax(0, 1fr) [grid-start] repeat(6, minmax(0, 4rem)) [middle] repeat(6, minmax(0, 4rem)) [grid-end] minmax(0, 1fr) [page-end];
    grid-column: page-start / page-end;
  }

  .desktopMov {
    display: block;
  }

  .desktopTarot {
    display: block;
  }


}

.span-page {
  grid-column: page-start / page-end;
}

.span-grid {
  grid-column: grid-start / grid-end;
}


/* nav & projects h1 mobile / desktop */
/* These headings are styled, and positioned differently on mobile and desktop,
 * and hence need individual elements and classes. Visibility set by display
 * being either grid / none / block. */

.menu.mobile.row {
  display: grid;
}

.menu.desktop.row,
h1.desktop {
  display: none;
}

h1.mobile {
  display: block;
}

.home h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.home p {
  margin-bottom: 1rem;
}

.attention {
  margin-top: 2rem;
}

.image-eyeMobile{
  display: block;
}

.image-eye{
  display: none;
}

.image-build {
  margin-top: 1rem;
}

.index .home .copy ul {
  margin-top: 1rem;
}

@media (min-width: 30rem) {
  h1 {
    font-size: 6rem;
  }

  .menu.mobile.row,
  h1.mobile {
    display: none;
  }

  .menu.desktop.row {
    display: grid;
  }

  /* Re-style nav on tablet, since links are now in a row rather than in a dropdown.
   * Also span it over full grid. */
  .menu .links {
    grid-column: 2 / span 6;
    display: flex;
    justify-content: space-between;
    margin: 4rem 0 6rem;
  }

  .menu .links a {
    text-decoration: none;
  }

  .menu .links .active {
    color: #DCBC3F;
  }


  .attention {
    margin-top: 0rem;
  }

  .image-build {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .image-eye{
    display: block;
  }

  .image-eyeMobile,
  .image-eyeText {
    display: none;
  }

  .index .home .copy {
    grid-column: 6 / grid-end;
  }

  .index .home .copy ul {
    margin-top: 3rem;
  }


  .compensation-mobile {
    display: none;
  }

  .compensation {
    display: block;
  }


  .illustrations-mobile {
    display: none;
  }

  .illustrationsPic {
    display: block;
  }


  .desktop {
    display: none;
  }

  .mobilePar {
    display: none;
  }
}



@media (min-width: 60rem) {
  h1 {
    font-size: 7rem;
    }

    .desktop {
      display: block;
    }

    .mobile {
      display: none;
    }

    h1.desktop {
      display: block;
      text-align: center;
      margin-bottom: 6rem;
    }

    .phoneUL {
      display: block;
    }

    .index .home .copy {
      grid-column: 11 / grid-end;
    }

    .index .home .copy ul {
      margin-top: 2.2rem;
    }
  }

@media (min-width: 100px){





  .menu .links {
    /* span nav over full grid on desktop as well */
    grid-column: 2 / span 12;
    margin: 6rem 0;
  }

  .menu .links a {
    font-size: 1.25rem;
  }







}




.menu.mobile {
  background-color: #ffffff;
}

.logo {
  /* span logo container over left half of viewport */
  grid-column: 1 / span 2;
  width: 4.375rem;
  padding: 0.5rem;
}

/*Burgarmenunloggan/knappen*/
.burgerMenu {
  /* span burger menu container over right half of viewport */
  grid-column: 3 / span 2;
  background-color: #ffffff;
  width: 4.375rem;
  padding: 0.5rem;
  justify-self: flex-end;
}

/*Stylingen av dropdown boxen i sig*/
.dropdownContent {
  background-color: #ffffff;
  display: none;
  position: absolute;
  width: 100%;
  margin-top: 4rem;
  overflow: auto;
  z-index: 1;
}

/*Varje item i lisan i dropdown menyn*/
.dropdownContent a {
  color: #4A4A4A;
  font-family: 'Barlow Condensed', sans-serif;
  padding: 2rem 0;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  display: block;
}

/*När menyval hovras över syns denna färg*/
.dropdown a:hover {
  background-color: #ffffff;
  color: #000000;
}

/*Denna funktion gör så att dropdownmenyn visas*/
.show {
  display:block;
}

/*När menyval är iklickat syns denna färg*/
.menu.mobile .active {
  color: #DCBC3F;
}


/* END NAV */


/* PROJECTS & SECTION SHARED CSS */

/* specific link color in first project */
.learnMore {
  color: #DCBC3F;
}


.section {
  /* general background-image options for all sections.
   * images are packed to the right */
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  margin-bottom: 0rem;
}



.section.flip {
  /* make the "flipped" sections pack their background-images to the left */
  background-position: left top;
}

.background {
  background-color: brown;
  position: fixed;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.section.first {
  /*background-image: url(triangle.svg);*/
  padding-top: 3rem;
}


.section:not(.first) {
  padding-top: 5rem;
}

.section h1,
.section h2,
.section p,
.section .copy {
  grid-column: 2 / span 2;
}

.section h1 {
  text-align: center;
  margin-bottom: 4rem;
}

.section h2,
.section p {
  text-align: center;
  margin-bottom: 2rem;
}

.section .button {
  grid-column: 2 / span 2;
  display: block;
  padding: 0.5rem 2rem;
  background-color: #ffffff;
  color: #4A4A4A;
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  text-decoration: none;
  text-align: center;
  margin-bottom: 3rem;
  justify-self: center;
  max-height: 3rem;
}

.image-link {
  grid-column: 2 / span 2;
  display: flex;
  margin-bottom: 2rem;
  height: 20rem;
  align-items: center;
  justify-content: center;
}

.image-link img {
  width: 100%;
  max-height: 100%;
}

.image-link.participant-design img {
  width: auto;
  max-width: 100%;
}

.image-link.ultra-free img {
  max-height: 17rem;
}


.attention .image-link {
  grid-column: 2 / span 2;
  margin: 0 0 3rem 0;
  height: auto;
}

.attention .image-link img {
  max-height: none;
}




/* MOBILE ONLY PROJECTS BACKGROUND FIX */
@media (max-width: 30rem) {
  /* Make first sections inner elements span correct amount of grid rows */
  .projects .section.first *:nth-child(1) {
    grid-row: 1;
  }
  .projects .section.first *:nth-child(2) {
    grid-row: 2 / span 2;
  }
  .projects .section.first *:nth-child(3) {
    grid-row: 4;
  }
  .projects .section.first *:nth-child(4) {
    grid-row: 5;
  }
  .projects .section.first .fill {
    grid-row: 3 / span 3;
  }

  /* Make all other sections inner elements span correct amount of grid rows */
  .projects .section *:nth-child(1) {
    grid-row: 1 / span 2;
  }
  .projects .section *:nth-child(2) {
    grid-row: 3;
  }
  .projects .section *:nth-child(3) {
    grid-row: 4;
  }
  .projects .section .fill {
    grid-row: 2 / span 3;
  }

  /* Invert colors of copy to match backgrounds */
  .projects > section:nth-child(2) p,
  .projects > section:nth-child(2) h2,
  .projects > section:nth-child(5) p,
  .projects > section:nth-child(5) h2 {
    color: #4A4A4A;
  }
  /* Invert colors of specific buttons to match backgrounds */
  .projects > section:nth-child(2) .button,
  .projects > section:nth-child(4) .button,
  .projects > section:nth-child(5) .button,
  .projects > section:nth-child(7) .button {
    background-color: #ffffff;
    color: #4A4A4A;
  }

  .projects h2 {
    margin-bottom: 0.5rem;
  }


}
/* END MOBILE ONLY PROJECTS BACKGROUND FIX */


.projects .fill {
  grid-column: 1 / span 4;
  z-index: -1;
}

.projects .fill.participant-design,
.projects .fill.report {
  background-color: #F5F5F5;
}

.projects .fill.form,
.projects .fill.tarot-appen,
.projects .fill.travel {
  background-color: #F5F5F5;
}

.projects .fill.cafe-koya,
.projects .fill.ultra-free {
  background-color: #F5F5F5;
}




@media (min-width: 30rem) {

  .projects, .illustrations, .pictures {
      margin-bottom: 0px;
  }
  .projects .section.first,
  .projects .section:not(.first) {
    padding: 0;
    margin: 0 0 2rem 0;
    background: none;
    grid-auto-rows: 1fr
  }

  .projects h2 {
    margin-bottom: 0.5rem;
  }

  .projects .section:last-child {
    margin: 0;
  }

  .section p {
    margin-bottom: 1rem;
  }

  .section h2,
  .section p,
  .section .button,
  .projects .section .copy,
  .projects .section.flip .copy{
    grid-column: 5 / span 3;
  }


  .projects .section .copy,
  .projects .section.flip .copy{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .projects .section .image-link,
  .projects .section.flip .image-link {
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
    margin: 4rem 0;
    padding: 1rem 0;
    align-self: center;
  }

  .projects .section .image-link {
    grid-row: 1 / span 2;
  }

  .projects .section .copy {
    grid-row: 1;
  }

  .projects .section .button {
    grid-row: 2;
    background-color: #fff;
    color: #4A4A4A;
    margin-top: 1rem;
  }

  .projects .fill {
    grid-column: 1 / span 8;
    grid-row: 2;
  }

  .attention .image-link {
    grid-column: 2 / span 6;
    margin: 5rem 0;
  }

  .story .image-link {
    grid-column: 2 / span 6;
    margin: 2rem 0;
  }

  .projects .fill.participant-design,
  .projects .fill.form {
    background-color: #F5F5F5;
  }

  .projects .fill.ultra-free,
  .projects .fill.tarot-appen {
    background-color: #F5F5F5;
  }

  .projects .fill.cafe-koya {
    background-color: #F5F5F5;
  }

  .indexText p {
      text-align: left;
      margin-top: 50px;
      margin-bottom: 50px;
  }
    .videoStyle {

      margin-top: 50px; margin-bottom: 50px;
    }

}


@media (min-width: 60rem) {
  .section h2,
  .section p,
  .section .button,
  .projects .section .copy,
  .projects .section.flip .copy {
    grid-column: 8 / span 4;
  }

  .projects .section .image-link,
  .projects .section.flip .image-link {
    grid-column: 3 / span 4;
  }

  .projects .fill {
    grid-column: 2 / span 12;
  }

  .attention .image-link {
    grid-column: 2 / span 12;
    margin: 7rem 0;
  }

  .projects h2 {
    margin-bottom: 0.5rem;
  }


}

/* PICTURES */

.pictures .section.first {
  margin: 0 0 2rem 0;
}

.pictures .section img {
  width: 100%;
  margin-bottom: 2rem;
}

.image-eye {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.image-city {
  grid-column: 2 / span 2;
}

.image-boat {
  grid-column: 2;
}

.image-flower {
  grid-column: 3;
}
.pictures .attention {
  margin: 1.5rem 0;
}

@media (min-width: 30rem) {
  .pictures .section,
  .illustrations .section {
    background: none;
    padding: 0;
    margin: 0;
  }

  .image-city {
    grid-column: 2 / span 6;
  }

  .image-boat {
    grid-column: 2 / span 3;
    padding: 1.5rem 1rem 1.5rem 0;
  }

  .image-flower {
    grid-column: 5 / span 3;
    padding: 1.5rem 0 1.5rem 1rem;
  }

  .image-link {
    margin: 0rem 0;
  }

  .tarotAppen {
    color: #DCBC3F;
  }

  .videoStyle video {
    display: block;
  }


}

@media (min-width: 60rem) {
  .pictures .section.first {
    margin: 0;
  }

  .pictures .section img {
    margin-bottom: 4rem;
  }

  .image-city {
    grid-column: 2 / span 12;
    margin-top: 2rem;
  }

  .image-boat {
    grid-column: 2 / span 6;
  }

  .image-flower {
    grid-column: 8 / span 6;
  }
  .pictures .attention .image-link {
    margin: 3rem 0;
  }
}

/* ILLUSTRATIONS */
.illustrations .section.first {
  margin: 0 0 3rem 0;
}

.illustrations .section img.desktop {
  display: none;
}

.illustrations .section img.mobile {
  grid-column: 2 / span 2;
  width: 100%;


}

@media (min-width: 30rem) {
  .illustrations .section img.desktop {
    display: block;
    grid-column: 2 / span 6;
    width: 100%;
  }

  .illustrations .section img.mobile {
    display: none;
  }

  .image-uxdesign {
    display: none;
  }

  .image-uxdesign-small {
    padding: 0rem 3rem 5rem 3rem;
    text-align: center;

  }


}

@media (min-width: 60rem) {
  .illustrations .section.first {
    margin: 0;
  }

  .illustrations .section img.desktop {
    grid-column: 2 / span 12;
  }

  .section .image-uxdesign {
    display: block;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0px;
    line-height: 1;
  }

  .image-uxdesign-small {
    display: none;
  }


}

/* HOME */
.index {
  margin-bottom: 2rem;
}

.index img {
  width: 100%;
}

.index .section {
  background: none;
}

.image-profile.desktop {
  display: none;
}

.image-uxdesign {
  margin-bottom: 3rem;
}

.image-uxdesign,
.index .section .copy {
  grid-column: 2 / span 2;
}

.index .copy ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.index .copy li > a {
  display: block;
}

.index .copy li {
  width: 29%;
}

.index .copy h2 {
  margin-bottom: 0.3rem;
}

.index .section.first {
  margin-bottom: 1.5rem;
}

.index .section:not(.first) {
  padding: 0;
  margin: 0;
}

.index .image-link {
  height: auto;
  margin: 0 0 1.5rem 0;
}

.index .image-link img {
  max-height: none;
}

@media (min-width: 25rem) {
  .index .section .copy p {
    font-size: 0.8rem;
    line-height: 1.0rem;
  }

  p {
    font-size: 0.8rem;
    line-height: 1.0rem;
  }

}


@media (min-width: 30rem) {
  .image-profile.desktop {
    display: block;
  }

  .image-profile.mobile {
    display: none;
  }

  .index .section.first {
    padding: 0;
  }

  .image-uxdesign {
    grid-column: 3 / span 4;
    grid-row: 1;
    margin: 0 0 6rem 0;
  }

  .image-profile {
    grid-column: 2 / span 3;
    grid-row: 2;
  }

  .index .section .copy {
    grid-column: 5 / span 3;
    grid-row: 2;
  }

  .index .section .copy h2 {
    font-size: 1.5rem;
    text-align: left;
  }

  .index .section .copy p {
    text-align: left;
    font-size: 0.875rem;
    line-height: 1.45;
    margin-top: 10px;
  }

  p {
    font-size: 0.875rem;
    line-height: 1.45;
  }

  .index .copy ul {
    margin-top: 10px;
  }

  .index .image-link {
    grid-column: 2 / span 6;
  }

  .index {
    margin-bottom: 2.5rem;
  }


  .index .section .copy p {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }


}

@media (min-width: 60rem) {
  .image-uxdesign {
    grid-column: 5 / span 6;
  }

  .index .section.first {
    padding-bottom: 3rem;
  }

  .image-profile {
    grid-column: 2 / span 7;
  }

  .index .section .copy {
    grid-column: 9 / span 5;
  }

  .index .section .copy h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .index .section .copy p {
    font-size: 1.2rem;
    margin-top: 15px;
  }

  p {
    font-size: 1.2rem;
    margin-top: 15px;
  }

  .index .section .copy p {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }

  .textPD p {
    font-size: 1rem;
    line-height: 1.4;
  }

  .textPD a {
    font-size: 1rem;
    line-height: 1.4;
  }

  .index .copy ul {
    margin-top: 35px;
  }

  .index .copy li > a:hover {
    background-color: #DCBC3F;
    line-height: 0;
  }

  .index .project.image-link:hover img,
  .index .illustrations.image-link:hover img {
    filter: grayscale(1);
  }

  .index .pictures.image-link:hover img {
    opacity: 0.9;
  }

  .index .image-link {
    grid-column: 2 / span 12;
    margin-bottom: 3rem;
  }

  .index {
    margin-bottom: 4rem;
  }
}


/* PARTICIPATORY DESIGN */

.participatory h1 {
  grid-column: 2 / span 1;
}

.participatory .link {
  grid-column: 3 / span 2;
  text-align: right;
  margin-bottom: 1rem;
}

.participatory .link img {
  width: 4rem;
  padding: 0.5rem;
}

.row .image-steps {
  grid-column: 2 / span 2;
  width: 100%;
  margin-bottom: 3rem;
}

.row .image-steps.desktop {
  display: none;
}

.videoUltrafree {
  grid-column: 2 / span 2;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.videoUltrafree video {
  width: 100%;
}

@media (min-width: 30rem) {
  .participatory h1 {
    margin-top: 4rem;
  }

  .participatory .link {
    grid-column: 7;
    margin: 4rem 0 2rem;
  }

  .participatory .link img {
    width: 2.5rem;
    padding: 0;
  }



  .row .image-steps.desktop {
    display: block;
  }

  .row .image-steps {
    grid-column: 2 / span 6;
  }

  .videoUltrafree {
    grid-column: 2 / span 6;
  }
}

@media (min-width: 60rem) {
  .participatory .link {
    grid-column: 13;
    margin: 5.5rem 0 2rem;
  }

  .row .image-steps {
    grid-column: 2 / span 12;
  }

  .videoUltrafree {
    grid-column: 2 / span 12;
    position: relative;
  }

  .videoUltrafree video::before {
    position:absolute;
    top: 0;
    content: "";
    height: 2px;
    width: 100%;
    background: white;
  }
}
